In [18]:
#Question no 2
import pandas as pd
import numpy as np

In [19]:
df=pd.read_excel('data_final.xlsx')

In [20]:
df

    observation  feature   price
0          0.44     0.68  511.14
1          0.99     0.23  717.10
2          0.84     0.29  607.91
3          0.28     0.45  270.40
4          0.07     0.83  289.88
..          ...      ...     ...
95         0.99     0.13  636.22
96         0.28     0.46  272.12
97         0.87     0.36  696.65
98         0.23     0.87  434.53
99         0.77     0.36  593.86

[100 rows x 3 columns]

In [21]:
#CHEAKING FOR NULL VALUES
df.isnull().sum()

observation    0
feature        0
price          0
dtype: int64

In [22]:
df.describe()

       observation     feature        price
count   100.000000  100.000000   100.000000
mean      0.550300    0.501700   554.214600
std       0.293841    0.307124   347.312796
min       0.010000    0.000000    42.080000
25%       0.300000    0.230000   278.172500
50%       0.570000    0.485000   514.285000
75%       0.822500    0.760000   751.752500
max       1.000000    0.990000  1563.820000

In [23]:
df.columns

Index(['observation', 'feature', 'price'], dtype='object')

In [24]:
#splitting data into dependent and independent variable

X=df.drop('price',axis=1)

In [25]:
y=df['price']

In [26]:
X

    observation  feature
0          0.44     0.68
1          0.99     0.23
2          0.84     0.29
3          0.28     0.45
4          0.07     0.83
..          ...      ...
95         0.99     0.13
96         0.28     0.46
97         0.87     0.36
98         0.23     0.87
99         0.77     0.36

[100 rows x 2 columns]

In [27]:
y

0     511.14
1     717.10
2     607.91
3     270.40
4     289.88
       ...
95    636.22
96    272.12
97    696.65
98    434.53
99    593.86
Name: price, Length: 100, dtype: float64

In [28]:
#train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y, test_size=0.3,random_state=0)

In [29]:
#POLYNOMIAL FEATURES
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(degree=3)
X_poly_trn=poly.fit_transform(X_train)

In [30]:
print(poly.get_feature_names_out())

['1' 'observation' 'feature' 'observation^2' 'observation feature'
 'feature^2' 'observation^3' 'observation^2 feature'
 'observation feature^2' 'feature^3']

In [31]:
#LINEAR REGRESSION
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_poly_trn,y_train)

LinearRegression()

In [32]:
#FINDING INTERCEPT
print(lr.intercept_)
print(lr.coef_)

33.50505958254081
[  0.         152.54506114 192.69431703 248.99306837 405.786087
  59.98747333  99.11674335 203.37712512 169.55494752  24.20726957]

In [33]:
X_poly_tst=poly.transform(X_test)
y_pred=lr.predict(X_poly_tst)

In [34]:
#ACCURACCY MATRIX
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.9997398132924468